.social a:hover{
    color: var(--mc1)
}

.social a,
.social li {
    font-family: var(--hff);
    font-size: 18px;
    letter-spacing: 0;
    text-decoration: none;
    font-weight: 500;
    color: var(--hc)
}

a.full_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}

.metaportal_fn_main,
.metaportal_fn_main * {
    box-sizing: border-box
}

.metaportal_fn_main {
    position: relative;
    z-index: 2;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

.metaportal_fn_mobnav {
    display: none;
    overflow: hidden
}

.header .trigger_logo,
.metaportal_fn_mobnav .social,
.metaportal_fn_mobnav .social_trigger{
    display: flex;
    -ms-align-items: center;
    align-items: center
}

.header .trigger,
.metaportal_fn_mobnav .social_trigger .trigger {
    margin-right: 20px
}

.metaportal_fn_mobnav .mob_mid,
.metaportal_fn_mobnav .mob_top {
    display: flex;
    padding: 20px;
    overflow: hidden;
    background: #1b121d;
    background: -moz-linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
    background: -webkit-linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
    background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between
}

#social .social,
.social ul {
    -ms-align-items: center
}

.metaportal_fn_mobnav .mob_bot {
    background: #1b121d;
    padding: 21px 20px;
    overflow: hidden
}

.metaportal_fn_items,
.metaportal_fn_mobnav .mob_bot ul {
    margin: 0;
    list-style-type: none
}

.metaportal_fn_mobnav .mob_bot li {
    padding: 8px 0;
    margin: 0
}

.metaportal_fn_mobnav .mob_bot a {
    line-height: 27px
}

#social {
    z-index: 5;
    position: fixed;
    left: 50px;
    top: 50%;
    transition: .5s
}

#social.hold {
    transform: translateX(-200px)
}

#social .social {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    display: flex;
    position: absolute;
    width: max-content;
    align-items: center
}

.social ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center
}

.social li {
    margin: 0
}

.social li:after {
    content: '/';
    margin: 0 6px
}

.social li:last-child:after {
    content: ''
}

.social .title {
    margin: 0 10px 0 0;
    padding: 0;
    line-height: 50px
}



.header .nav a{
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: var(--hff);
    text-decoration: none
}

.trigger {
    height: 50px;
    background-color: #000;
    z-index: 5;
    position: relative;
    display: block;
    width: 50px;
    border-radius: 100%;
    color: #bbb;
    cursor: pointer;
}



@keyframes animatedgradient {
    0%,
    100% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }
}

.metaportal_fn_totop {
    display: block;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 5;
    right: 30px;
    bottom: 30px;
    width: 50px;
    color: #bbb;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: .5s
}

.totop-active .metaportal_fn_totop {
    transform: translateX(0);
    opacity: 1;
    visibility: visible
}

.metaportal_fn_totop .icon:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--mc1);
    opacity: .15;
    border-radius: 100%;
    box-shadow: 0 5px 20px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: .3s
}

.metaportal_fn_totop:hover .icon:after,
.trigger.active:after,
.trigger:hover:after {
    opacity: .5
}

.metaportal_fn_totop .totop_inner {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    width: max-content;
    -ms-align-items: center;
    align-items: center
}



.header,
.header:after {
    top: 0;
    transition: .3s;
    left: 0
}

.header {
    padding: 30px;
    position: fixed;
    right: 0;
    z-index: 25;
    border-bottom: 1px solid transparent
}

.header:after {
    transform: translateY(-105%);
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #1b121d;
    background: -moz-linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
    background: -webkit-linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
    background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%)
}

.header.active:after {
    transform: translateY(0)
}

.header.active {
    z-index: 60;
    padding: 20px 30px;
    border-bottom-color: rgba(255, 255, 255, .08)
}

.header .header_in {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center
}


.slider_nav .icon:after,
.trigger:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--mc1);
    opacity: .15;
    border-radius: 100%;
    box-shadow: 0 5px 20px;
    transition: .3s
}

.trigger.active span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.trigger.active span:before {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.trigger.active span:after {
    width: 0;
    transition: none
}

.trigger span,
.trigger span:after,
.trigger span:before {
    display: block;
    height: 2px;
    position: absolute;
    background-color: #bbb;
    content: '';
    transition: .3s
}


.trigger span {
    top: 24px;
    width: 24px;
    left: 13px
}

.trigger span:before {
    bottom: 6px;
    width: 24px;
    left: 0
}

.trigger span:after {
    top: 6px;
    width: 16px;
    left: 0
}

.header .nav ul {
    margin: 0 0 0 -45px;
    list-style-type: none;
    display: flex
}

.header .nav li {
    margin: 0 0 0 45px
}

.creative_link:hover:before {
    width: 100%
}

.creative_link {
    background-image: -moz-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
    background-image: -webkit-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
    background-image: linear-gradient(to right, var(--mc1), var(--mc1) 50%, #ddd 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-in-out
}

.creative_link:before {
    content: "";
    background: #cc00ff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s ease-in-out
}

.creative_link:hover {
    background-position: 0
}


@media(max-width: 1040px) {
    .metaportal_fn_mobnav {
        display: block
    }

    #header {
        display: none
    }

}

.show{
    display: block;
}

.hide{
    display: none;
}