.metaportal_fn_items .item {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 23px 23px 17px;
    background-color: #130f15;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.metaportal_fn_items .icon {
    width: 50px;
    height: 50px;
    background-color: #000;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
    margin-bottom: 9px;
}

.metaportal_fn_items .icon img {
    z-index: 5;
    position: relative;
}

.metaportal_fn_items .icon:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: var(--mc1);
    opacity: .15;
    left: 0;
    top: 0;
    border-radius: 100%;
    box-shadow: 0 5px 20px;
    transition: .3s;
}

.metaportal_fn_items .text {
    font-size: 16px;
    font-family: var(--hff);
    letter-spacing: .5px;
    text-transform: uppercase;
    color: var(--hc);
}

@media (max-width: 768px){ 
.metaportal_fn_items .item{
    width: 100%;
}}

.metaportal_fn_items .item:after {
    background: linear-gradient(45deg, var(--mc1), var(--mc2), var(--mc1), var(--mc2)) border-box;
    -webkit-mask-composite: destination-out;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 3px solid transparent;
    mask-composite: exclude;
    background-size: 300% 300%;
    animation: 4s infinite alternate animatedgradient;
    
}

.metaportal_fn_items li {
    margin-bottom: 20px;
    list-style-type: none;
}

.metaportal_fn_items a {
    position: absolute;
    display: block;
    text-decoration: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15
}

.metaportal_fn_items .item:before {
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    color: var(--mc1);
    content: '';
    opacity: .15;
    border-radius: 5px;
    box-shadow: 0 5px 20px
}

.metaportal_fn_items .item:hover .icon:after {
    opacity: .5;
}