
.fn__maintitle.big {
    text-transform: uppercase
}

.mw300 {
    max-width: 300px;
}

input[type=password],
input[type=text] {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .15);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 46px;
    height: 50px;
    padding: 0 15px;
    outline: transparent 0
}

textarea {
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, .15);
    font-size: 16px;
    letter-spacing: 0;
    padding: 13px 15px;
    height: 250px
}

input[type=password]:focus,
input[type=text]:focus,
textarea:focus {
    outline: 0;
    background-color: transparent;
    border-color: var(--mc1)
}

.container {
    width: 100%;
    max-width: 1800px;
    padding: 0 100px;
    margin: 0 auto
}

@media(max-width: 1200px) {
    .container {
        padding: 0 40px
    }
}

@media(max-width: 1040px) {
    .container {
        padding: 0 20px
    }
}

.metaportal_fn_comments .metaportal_fn_button,
.mw300 {
    max-width: 300px
}

.metaportal_fn_button span {
    position: relative;
    z-index: 5
}




.fn__maintitle {
    z-index: 5;
    position: relative
}



.fn__maintitle {
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 36px;
    line-height: 1
}

.fn__maintitle.big {
    font-size: 60px
}

.fn__maintitle[data-align=center] {
    text-align: center
}

.fn__maintitle[data-align=left] {
    text-align: left
}

.fn__maintitle[data-align=right] {
    text-align: right
}

.fn__maintitle:before {
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(var(--mc1), var(--mc2));
    background: -webkit-linear-gradient(var(--mc1), var(--mc2));
    background: linear-gradient(var(--mc1), var(--mc2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: attr(data-text)
}

#contact {
    padding: 144px 0 150px
}

.fn_cs_contact_info h4 {
    font-weight: 500;
    color: var(--bc);
    text-transform: uppercase
}

.fn_cs_contact_info {
    padding: 140px 0 32px
}

.fn_cs_contact_info ul {
    margin: 0 0 0 -150px;
    display: flex
}

.fn_cs_contact_info li {
    padding-left: 150px;
    width: 33.333%;
    margin-bottom: 40px
}

.fn_cs_contact_info h4 {
    margin: 0 0 9px;
    font-size: 16px;
    letter-spacing: .5px
}

.fn_cs_contact_info h3 {
    margin: 0 0 39px;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 30px
}

.fn_cs_contact_form ul {
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 0 0 -40px;
    flex-wrap: wrap
}

.fn_cs_contact_form input[type=text],
.metaportal_fn_comments .comment-form input[type=text] {
    height: 80px;
    padding: 0 27px
}

.fn_cs_contact_form input[type=text],
.fn_cs_contact_form textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    border: 2px solid rgba(255, 255, 255, .15);
    border-radius: 5px;
    background-color: transparent !important;
    outline: 0;
    color: #fff
}

.fn_cs_contact_form input[type=text]:focus,
.fn_cs_contact_form textarea:focus {
    border-color: var(--mc1)
}

.fn_cs_contact_form li {
    width: 50%;
    padding-left: 40px;
    margin-bottom: 40px
}


.fn_cs_contact_form li.full {
    width: 100%
}

.empty_notice,
.returnmessage {
    padding: 20px;
    width: 100%;
    display: none;
    color: #eee;
    margin-top: 20px;
    position: relative;

}

.empty_notice:after,
.returnmessage:after {
    border-radius: 10px;
    border: 3px solid transparent;
    background: linear-gradient(to top right, var(--mc1), var(--mc2), var(--mc1), var(--mc2)) border-box;
    -webkit-mask-composite: destination-out;
    -webkit-mask-composite: source-out;
    mask-composite: exclude;
    background-size: 300% 300%;
    -webkit-animation: 4s infinite alternate animatedgradient;
    animation: 4s infinite alternate animatedgradient
}

.fn__checkbox {
    display: block;
    position: relative;
    padding-left: 37px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 37px
}

.fn__checkbox .fn__svg {
    opacity: 0;
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    color: var(--mc1)
}

.fn__checkbox p {
    margin: 0
}

.fn__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.fn__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 2px solid rgba(255, 255, 255, .15);
    border-radius: 5px
}


@media(max-width: 1400px) {

    .fn__maintitle.big {
        font-size: 40px
    }

    .fn_cs_contact_form li {
        padding-left: 20px;
        margin-bottom: 20px
    }

    .fn_cs_contact_info li {
        padding-left: 50px
    }

    .fn_cs_contact_info ul {
        margin-left: -50px
    }

    .fn_cs_contact_form ul {
        margin-left: -20px
    }
}

@media(max-width: 768px) {
    .fn_cs_contact_form li {
        width: 100%
    }
}

@media(max-width: 1200px) {
    .fn_cs_contact_info li{
        width: 100%
    }
}