#home2 .container {
    position: relative;
    z-index: 5
}

.fn_cs_desc p {
    margin: 0 0 41px;
    font-size: 24px;
    line-height: 34px
}


.fn__gradient_title {
    width: fit-content;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    background: -moz-linear-gradient(90deg, var(--mc1), var(--mc2));
    background: -webkit-linear-gradient(90deg, var(--mc1), var(--mc2));
    background: linear-gradient(to right, var(--mc1), var(--mc2));
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #160f1a;
    filter: drop-shadow(0 5px 20px rgba(204, 0, 255, .15))
}




@media(max-width: 1400px) {

    .fn__gradient_title,
    .fn__maintitle.big {
        font-size: 40px
    }

}

@media(max-width: 480px) {
    .container {
        padding: 0 10px
    }
}

#home2 {
    padding-top: 179px;
    position: relative
}

#home2 .fn__maintitle {
    margin-bottom: 39px
}

.frenify_cards_gallery {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: hidden
}

.canvas_bg,
.fn_cs_hero_slider canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

#space {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #10051f;
    width: 100% !important;
    height: 100% !important
}

.frenify_cards_gallery .img_holder:before {
    border: 1px solid rgba(255, 255, 255, .5);
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px
}

@media(max-width: 1040px) {
    #home2 {
        padding-top: 150px
    }
}

.swiper {
    width: 50%;
    height: 50%;
}

.bendedSwiper .swiper-slide {
    width: 500px;
    margin: 0 30px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
}

.bendedSwiper .swiper-slide img {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
}