@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Heebo');

.collection {
    padding: 144px 0 150px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

.fn__maintitle {
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 36px;
    line-height: 1;
}

.image-container {
    margin-bottom: 102px;
    box-sizing: border-box;
}

.flip-container-top, .flip-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flip-container-bottom {
    margin-top: 30px;
    align-items: flex-start;
}

.flip-container-top {
    margin: 30px;
}

.flipper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-delay: calc(var(--animation-delay) * var(--index)) !important;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .5);
    position: relative;
    margin: 15px;
    width: 500px;
    height: 400px;
}

.flipper:nth-child(1) {
  --index: 1;
  --animation-delay: 0.1s;
}

.flipper:nth-child(2) {
  --index: 2;
  --animation-delay: 0.2s;
}

.flipper:nth-child(3) {
  --index: 3;
  --animation-delay: 0.3s;
}


@media (max-width: 767px) {
  .flipper {
    width: 100%;
  }
}

.flipper.big {
    height: 345px;
    width: 345px;
}

.flipper.small {
    height: 200px;
    width: 200px;
}

@media (max-width: 480px) {
    .image-container {
        display: flex;
        flex-direction: column;
    }

    .flipper.small, .flipper.big {
        height: 300px;
        width: 300px;
    }

    .flipper {
        min-width: 100%;
        min-height: 100%;
    }
}


.flipper img {
    perspective: 600px;
    perspective-origin: 50% 50%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
    
}

.front,
.back {
    transform-style: preserve-3d;
    animation: flip 2s infinite;
    -webkit-animation-delay: 5s;
    flex-grow: 1;
    flex-basis: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

.front {
    z-index: 1;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(90deg);
}

div {
    border: 0;
    margin: 0;
    padding: 0;
    background: 0 0;
    vertical-align: baseline;
    outline: 0;
}

.front-image,
.back-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}


@media (max-width: 1400px) {
    .fn__maintitle.big {
        font-size: 40px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    padding: 0 auto;
    text-align: center;
}

.description p {
    margin: 0 0 41px;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Nunito', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.desc_button::before {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    color: #cc00ff;
    content: '';
    opacity: .15;
    border-radius: 6px;
    box-shadow: #cc00ff 0 5px 20px, #ddd 0 5px 20px;
}

.desc_button {
    display: block;
    cursor: pointer;
    width: fit-content;
    box-sizing: border-box;
    max-width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: 'Heebo', sans-serif;
    height: 50px;
    line-height: 50px;
    position: relative;
    color: #ddd;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    outline: transparent 0;
}

@media (max-width: 768px) {
    .desc_button {
        padding: 0 24px;
    }
    
}

.desc_button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: 3px solid transparent;
    background: -moz-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
    background: -webkit-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
    background: linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    -webkit-mask-composite: source-out;
    mask-composite: exclude;
    background-size: 300% 300%;
    -webkit-animation: 4s infinite alternate animatedgradient;
    animation: 4s infinite alternate animatedgradient;
}

.button_span {
    position: relative;
    box-sizing: border-box;
    z-index: 5;
    background: 0;
    padding: 10px;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    outline: 0;
}

.fn_cs_section_divider {
    width: 100%;
    position: relative;
    height: 12px;
}

.fn_cs_section_divider .divider {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
}

.fn_cs_section_divider .divider:before {
    right: 100%;
    margin-right: 20px;
}

.fn_cs_section_divider .divider:after, .fn_cs_section_divider .divider:before {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,.15);
    height: 1px;
    top: 5px;
    width: 5000px;
}

.fn_cs_section_divider .short {
    width: 12px;
}

.fn_cs_section_divider span {
    height: 12px;
    position: relative;
    display: block;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 12px;
    background-color: rgba(255,255,255,.05);
}

.fn_cs_section_divider span:after {
    right: -2px;
    bottom: -2px;
    top: -2px;
    left: -2px;
    border-radius: 12px;
    position: absolute;
    color: var(--mc1);
    opacity: .15;
    content: '';
    box-shadow: 0 5px 20px;
}

.fn_cs_section_divider .long {
    width: 200px;
}

.fn_cs_section_divider .divider>* {
    margin-right: 20px;
}

.fn_cs_section_divider .divider:after {
    left: 100%;
    margin-left: 20px;
}