:root {
  --mc1: #cc00ff;
  --mc2: #7000ff;
  --hc: #ddd;
  --bc: #9ba0b8;
  --hff: 'Heebo', sans-serif;
  --bff: 'Nunito', sans-serif
}

body {
  font-family: var(--bff);
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  color: var(--bc);
  position: relative;
  word-break: break-word;
  background: #1b121d;
  background: -moz-linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
  background: -webkit-linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
  background: linear-gradient(90deg, #1b121d 0, #120f2f 50%, #1b121d 100%);
  height: auto;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden
}

body:after,
body:before {
  width: 270px;
  height: 270px;
  border-radius: 100%;
  position: fixed
}

body:after {
  content: '';
  top: 42.8%;
  right: 25%;
  background-color: var(--mc2);
  -webkit-filter: blur(150px);
  -o-filter: blur(150px);
  filter: blur(150px)
}

body:before {
  content: '';
  top: 27.5%;
  left: 23.9%;
  background-color: var(--mc1);
  -webkit-filter: blur(150px);
  -o-filter: blur(150px);
  filter: blur(150px)
}

body{
  letter-spacing: 0
}

html:after,
html:before {
  display: table;
  content: '';
  clear: both
}

@keyframes animatedgradient {

  0%,
  100% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }
}

.creative_link:hover:before {
  width: 100%
}

.creative_link {
  background-image: -moz-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-image: -webkit-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-image: linear-gradient(to right, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .3s ease-in-out
}

.creative_link:before {
  content: "";
  background: #cc00ff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: .3s ease-in-out
}

.creative_link:hover {
  background-position: 0
}

a {
  transition: all .3s ease;
  border: none;
}